body {
    margin: 0;
}

h1 {
    font-weight: 700;
}

h3 {
    color: #fffdfd
}

h4 {
    font-weight: 600
}

.main {
    background-image: url(../images/21.jpg);
    background-size: 100% 94%;
    background-repeat: no-repeat;
}

.fixed-top {
    background-color: #b3200c !important;
    max-height: 3.5rem !important;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #fff !important;
    text-transform: uppercase;
    padding-right: 2rem;
}

.navbar-nav {
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: right;
}

.nav-link:hover {
    border-bottom: solid #fff;
}

.btn-primary {
    background-color: #fff;
    border: #b3200c;
    padding: 1rem 3rem;
    color: #0a0a0a;
}

.btn-primary:hover {
    background-color: #b3200c;
    color: #fff;
    border: none;
}

.img-fluid {
    height: 500px;
    padding-left: 100px;
    padding-top: 80px;
}